tr {
  color: black;
}
div {
  background-color: white;
  margin-top: 3rem;
}
ul {
  list-style-type: none;
  overflow: hidden;
  margin: 5px;
  padding: 10px;
  display: flex;
  width: 20%;
  margin-left: -5em;
  display: inline-block;
  text-align: center;

  overflow: auto;
}
ul#a li {
  float: left;
  height: 3em;
  padding: 5px;
  text-align: center;
  align-items: center;
}
ul {
  background-color: white;
}
h1 {
  color: gray;
}
input {
  width: 70%;
  padding: 1%;
}
form {
  width: 100%;
}
button {
  background-color: rgb(14, 119, 119);
  height: 2em;
  font-size: 120%;
  font-weight: bolder;
  width: 25%;
  color: white;
  border-radius: 5px;
  margin-left: 2%;
  border: none;
}
#c {
  margin: 2%;
  padding: 1%;
  text-align: left;
  align-items: left;
  display: none;
}
#c .row {
  border-bottom: 1px solid lightgray;
  margin: 2%;
  padding: 1%;
  font-size: 150%;
}
