<div class="container">
  <img src="../assets/images/images.jpeg" alt="Image" />
  <div class="row">
    <div class="col-12 col-sm-4">
      <a routerLink="rates"> <button class="btn">Explore More</button></a>
    </div>
    <div class="col-12 col-sm-4">
      <a routerLink="login"> <button class="btn">Manage your coins</button></a>
    </div>

    <div class="col-12 col-sm-4">
      <a routerLink="login"> <button class="btn">Keep updated</button></a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
